{% load staticfiles %}
<!DOCTYPE html>
    <html lang="en-US">
	<head>
	  <title>Kelly Space &amp; Technology, Inc.</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="World-class Propulsion, Environmental and Ballistic's Testing Facilities">
		<meta name="author" content="kellyspace.com">

	    <meta property="og:url" content="http://www.kellyspace.com">
	    <meta property="og:type" content="website">
	    <meta property="og:title" content="Kelly Space &amp; Technology, Inc.">
	    <meta property="og:description" content="World-class Propulsion, Environmental and Ballistic's Testing Facilities">
	    <meta property="og:image" content="http://www.kellyspace.com/remoteview/kst-logo-white.jpg">

		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">

		<!-- Web Fonts -->
		<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="{% static 'bootstrap/css//bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/style.css' %}">

		<!-- CSS Header and Footer -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/footer.css' %}">

		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/animate.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/line-icons.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
	 	<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/cubeportfolio.min.css' %}">
	    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-cubeportfolio.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/animated-headline.css' %}">

		<!-- CSS Pages Style -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/page_one.css' %}">

		<!-- CSS Theme -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blue.css' %}" id="style_color">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/dark.css' %}">

		<!-- CSS Customization -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">

		{% block header %} {% endblock %}

	</head>




  <body class="header-fixed" style="overflow-x: hidden; max-width: 100%">
  <div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-classic-dark header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="/	">
                            <img class="default-logo" src="{% static 'media/logo/kstTran.png' %}" alt="Logo">
                            <img class="shrink-logo" src="{% static 'media/logo/kstTran.png' %}" alt="Logo">
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->

                    <!-- Header Inner Right -->
                    <div class="header-inner-right">
                        <ul class="menu-icons-list">
                            <!-- <li class="menu-icons">
                                <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                <div class="search-open">
                                    <input type="text" class="animated fadeIn form-control" placeholder="Start searching ...">
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <!-- End Header Inner Right -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <!--Home-->
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <!-- About -->
                            <li>
                                <a href="/about">
                                    About Us
                                </a>
                            </li>
                            <!-- End About -->
                            <li>
                                <a href="/testing/">
                                    Test Services
                                </a>
                            </li>

                           <li>
                                <a href="/testing/technologies/">
                                    Technologies
                                </a>
                            </li>
                            <!-- Testing Services -->
                            <li>
                                <a href="/community/economic-development">
                                    Community
                                </a>
                            </li>
                            <!-- <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Testing Services
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/testing/ballistic">Environmental</a></li>
                                    <li><a href="/testing/ballistic">Ballistic</a></li>
                                    <li><a href="/testing/ballistic">Jet and Rocket Propulsion</a></li>
                                </ul>
                            </li> -->
                            <!-- End Testing Services -->
                            <!-- Community -->
                            <!-- <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Community
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/community/tech">Technical Employment</a></li>
                                    <li><a href="/community/education">Eduation</a></li>
                                    <li><a href="/community/economic-development">Economic Development</a></li>
                                </ul>
                            </li> -->
                            <!-- End Community -->
                            <!-- Contact Us -->
                            <li>
                                <a href="/contact">
                                    Contact Us
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    


    {% block content %} {% endblock %}

    <!--=== Footer v6 ===-->
    <div id="footer-v6" class="footer-v6">

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 sm-margon-bottom-10">
                        <ul class="list-inline terms-menu">
                            <li class="silver">Kelly Space &amp; Technology, Inc. - Copyright © 2016 - All Rights Reserved</li>
                            <li><a href="/contact/licenses/">Legal Disclosure</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Footer v6 ===-->

</div>
<!-- ======= End Wrapper Div ======= -->


    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/smoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.parallax.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.counterup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/wow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/modernizr.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/animated-headline.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.cubeportfolio.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/style-switcher.js' %}"></script>
		<!-- JS Customization -->
		<!--<script type="text/javascript" src="{% static 'bootstrap/js/_Global/custom.js"></script>-->
		<!-- JS Page Level -->
  	<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/app.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/cube-portfolio-3.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				App.init();
				App.initCounter();
				App.initParallaxBg();
			});
		</script>
{% block js_dependencies %}
{% endblock %}
  </body>

</html>


