{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}"
          rel="stylesheet" media="screen">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='http//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/style.css' %}">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/footer.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/animate.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/cssfont-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/cubeportfolio.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/custom-cubeportfolio.css' %}">

    <!-- CSS Pages Style -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/page-one.css' %}">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/default.css' %}" id="style_color">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/dark.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Home/custom.css' %}">

    {% block header %} {% endblock %}

  </head>

  <body>

    {% block content %} {% endblock %}
    
    {% block js_dependencies %}
        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/back-to-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/smoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.parallax.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.counterup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/jquery.cubeportfolio.min.js' %}"></script>
        <!-- JS Customization -->
        <script type="text/javascript" src="{% static 'bootstrap/js/_Home/custom.js' %}"></script>
        <!-- JS Page Level -->
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/app.css' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/Responsive_Features/cube-portfolio-3.js' %}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                App.init();
                App.initCounter();
                App.initParallaxBg();
            });
        </script>

    {% endblock %}

  </body>

</html>
