{% extends "home/base.html" %}
{% load staticfiles %}


{% block header %}
{% endblock %}

{% block metadata %}
    <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="THE FASTEST AND EASIEST WAY TO START NEW PROJECTS AND STARTUPS">
  <meta name="author" content="fhtmlstream.com">

  <meta property="og:url" content="http://fhtmlstream.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Unify - Responsive Website Template">
  <meta property="og:description" content="THE FASTEST AND EASIEST WAY TO START NEW PROJECTS AND STARTUPS">
  <meta property="og:image" content="http://htmlstream.com/preview/unify-v1.9/assets/img/intro/promo.jpg">
{% endblock %}

{% block content %}

    <div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-transparent header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="index.html">
                            <img class="default-logo" style="height:250px;width:200px;" src="{% static 'media/logo/kstTran.gif' %}" alt="Logo">
                            <img class="shrink-logo" src="assets/img/logo3-dark.png" alt="Logo">
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->

                    <!-- Header Inner Right -->
                    <div class="header-inner-right">
                        <ul class="menu-icons-list">
                            <li class="menu-icons">
                                <i class="menu-icons-style search search-close search-btn fa fa-search"></i>
                                <div class="search-open">
                                    <input type="text" class="animated fadeIn form-control" placeholder="Start searching ...">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Header Inner Right -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <!--Home-->
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <!-- About -->
                            <li>
                                <a href="/about">
                                    About Us
                                </a>
                            </li>
                            <!-- End About -->
                            <!-- Testing Services -->
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Testing Services
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/testing/environmental">Environmental</a></li>
                                    <li><a href="/testing/ballistics">Ballistic</a></li>
                                    <li><a href="/testing/rockets">Jet and Rocket Propulsion</a></li>
                                </ul>
                            </li>
                            <!-- End Testing Services -->
                            <!-- Community -->
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Community
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/community/tech">Technical Employment</a></li>
                                    <li><a href="/community/education">Eduation</a></li>
                                    <li><a href="/community/economic-development">Economic Development</a></li>
                                </ul>
                            </li>
                            <!-- End Community -->
                            <!-- Contact Us -->
                            <li>
                                <a href="/contact">
                                    Contact Us
                                </a>
                            </li>

                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
        <div class="container">
            <h1 class="cd-headline letters type">
                <span>We are</span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">Innovation</b>
                    <b>Kelly Space</b>
                </span>
            </h1>
            <p>Cutting edge rocket, ballistic, environmental testing.</p>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->


    <!--=== Full Width Blocks ===-->
    <div class="container-fluid bg-color-darker">
        <div class="row equal-height-columns no-gutter">
            <div class="col-md-6">
                <img class="img-responsive full-width equal-height-column" src="{% static 'media/placehold/500x500.png' %}" alt="">
            </div>

            <div class="col-md-6 equal-height-column text-center dp-table">
                <div class="content-boxes-v3 dp-table-cell quote-v1 parallaxBg">
                    <p>Everyone knows that debugging is twice as hard as writing a program in the first place. So if you're as clever as you can be when you write it, how will you ever debug it.</p>
                    <span>Jimmy Howell, <a href="#">CEO, Director</a></span>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Full Width Blocks ===-->

    <!--=== Colorfull Blocks ===-->
    <div class="container-fluid">
        <div class="row no-gutter equal-height-columns">
            <div class="col-sm-4">
                <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
                    <h2 class="font-light">Best Solutions</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-red no-margin-bottom content equal-height-column">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-layers"></i>
                    <h2 class="font-light">Excellent Features</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-blue no-margin-bottom content equal-height-column">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-support"></i>
                    <h2 class="font-light">Stunning Support</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Colorful Blocks ===-->

    <!--=== News Block ===-->
    <div class="container content-md">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">RECENT NEWS</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row news-v2">
            <div class="col-md-4 md-margin-bottom-30">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                    <p>
                        <span>26</span>
                        <small>Feb</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light">
                    <h3><a href="#">Corrupti Quos Dolores</a></h3>
                    <small>By Admin | <a class="color-inherit" href="#">16 Comments</a> | In <a href="#">Web Trends</a></small>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
                    <p>
                        <span>24</span>
                        <small>Feb</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light">
                    <h3><a href="#">Blanditi Praesium Voluptum</a></h3>
                    <small>By Admin | <a class="color-inherit" href="#">51 Comments</a> | In <a href="#">Art &amp; Design</a></small>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="assets/img/main/img16.jpg" alt="">
                    <p>
                        <span>21</span>
                        <small>Feb</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light">
                    <h3><a href="#">Key Digital Services</a></h3>
                    <small>By Admin | <a class="color-inherit" href="#">32 Comments</a> | In <a href="#">Google &amp; Android</a></small>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                </div>
            </div>
        </div>
    </div>
    <!--=== End News Block ===-->

    <!--=== Footer v6 ===-->
    <div id="footer-v6" class="footer-v6">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>About Unify</h2></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit ut metus a commodo. Pellentesque congue tellus sed enim sollicitudin, id blandit mauris eleifend.</p>
                    </div>
                    <!-- End About Us -->

                    <!-- Recent News -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>Recent News</h2></div>
                        <ul class="list-unstyled link-news">
                            <li>
                                <a href="#">Apple Conference</a>
                                <small>12 July, 2014</small>
                            </li>
                            <li>
                                <a href="#">Bootstrap Update</a>
                                <small>12 July, 2014</small>
                            </li>
                            <li>
                                <a href="#">Themeforest Templates</a>
                                <small>12 July, 2014</small>
                            </li>
                        </ul>
                    </div>
                    <!-- End Recent News -->

                    <!-- Useful Links -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled footer-link-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Latest jobs</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- End Useful Links -->

                    <!-- Contacts -->
                    <div class="col-md-3">
                        <div class="heading-footer"><h2>Contacts</h2></div>
                        <ul class="list-unstyled contacts">
                            <li>
                                <i class="radius-3x fa fa-map-marker"></i>
                                795 Folsom Ave, Suite 600,
                                San Francisco, CA 94107
                            </li>
                            <li>
                                <i class="radius-3x fa fa-phone"></i>
                                (+123) 456 7890<br>
                                (+123) 456 7891
                            </li>
                            <li>
                                <i class="radius-3x fa fa-globe"></i>
                                <a href="#">toronto@gmail.com</a><br>
                                <a href="#">www.toronto.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Contacts -->
                </div>
            </div><!--/container -->
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 sm-margon-bottom-10">
                        <ul class="list-inline terms-menu">
                            <li class="silver">Copyright © 2014 - All Rights Reserved</li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy and Policy</a></li>
                            <li><a href="#">License</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline dark-social pull-right space-bottom-0">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Vine" href="#">
                                    <i class="fa fa-vine"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Pinterest" href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Instagram" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Tumblr" href="#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Youtube" href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Soundcloud" href="#">
                                    <i class="fa fa-soundcloud"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Footer v6 ===-->
</div>
{% endblock %}

{% block js_dependencies %} {% endblock %}
