{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/home/custom.css' %}">
{% endblock %}

{% block metadata %}
    <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="THE FASTEST AND EASIEST WAY TO START NEW PROJECTS AND STARTUPS">
  <meta name="author" content="fhtmlstream.com">

  <meta property="og:url" content="http://www.kellyspace.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Kelly Space and Technology, Inc.">
  <meta property="og:description" content="Cutting edge rocket and jet propulsion, ballistics, and environmental testing.">
{% endblock %}

{% block content %}

    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
        <div class="container">
            <h1 class="cd-headline letters type">
                <span>We are</span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">Innovation</b>
                    <b>Kelly Space</b>
                </span>
            </h1>
            <p>Cutting edge rocket and jet propulsion, ballistic, and environmental testing.</p>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->


    <!--=== Full Width Blocks ===-->
    <div class="container-fluid bg-color-darker" id="second-container">
        <div class="row equal-height-columns no-gutter">
            <div class="col-md-6">
                <img class="img-responsive full-width equal-height-column" src="{% static 'media/home/jet.JPG' %}" alt="">
            </div>

            <div class="col-md-6 equal-height-column text-center dp-table">
                <div class="content-boxes-v3 dp-table-cell quote-v1 parallaxBg">
                    <p>Everyone knows that debugging is twice as hard as writing a program in the first place. So if you're as clever as you can be when you write it, how will you ever debug it.</p>
                    <span>Jimmy Howell, <a href="#">CEO, Director</a></span>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Full Width Blocks ===-->

    <!--=== Colorful Blocks ===-->
    <div class="container-fluid" id="threeBlocks">
        <div class="row no-gutter equal-height-columns">
            <div class="col-sm-4">
                <div class="service-block service-block-purple no-margin-bottom content equal-height-column" id="block-1">  
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
                    <h2 class="font-light">Best Solutions</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-red no-margin-bottom content equal-height-column" id="block-2">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-layers"></i>
                    <h2 class="font-light">Excellent Features</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-blue no-margin-bottom content equal-height-column" id="block-3">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-support"></i>
                    <h2 class="font-light">Stunning Support</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Colorful Blocks ===-->

    
{% endblock %}

{% block js_dependencies %} {% endblock %}
