{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/contact/licenses.css' %}">

{% endblock %}



{% block content %}
  <!-- Interactive Slider v2 -->
  <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
      <div class="container valign__middle">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<div class="promo-block__item page-scroll animated fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
							<span class="promo-block__item-text g-mb-20">Legal Disclosure</span>
						</div>
					</div>
				</div>
			</div>
  </div>
  <!-- End Interactive Slider v2 -->

  <div class="tag-box tag-box-v2" style="margin: 2em;">
    <p style="text-align: left;">
      <b>COPYRIGHT NOTICE.</b> No material from this Web site may be copied, reproduced, republished, uploaded, posted, transmitted, or distributed in any way, except that you may download one copy of the materials for internal, personal, non-commercial use only, provided you keep intact all copyright and other proprietary notices. This does not create a license to you under any copyright, trademark, patent or other intellectual property right of Kelly Space &amp; Technology, Inc.<br><br>

      <b>TRADEMARK NOTICE.</b> Kelly Space &amp; Technology, Inc., its logos, product and service names, design marks, and slogans are the trademarks, servicemarks, registered trademarks, or registered servicemarks of Kelly Space &amp; Technology, Inc.. All other brands and product names are trademarks, servicemarks, registered trademarks, or servicemarks of their respective companies.<br><br>

      <b>LIMITATION OF LIABILITY</b>.  Under no circumstances, including, but not limited to, negligence, shall Kelly Space &amp; Technology, Inc. be liable for any special or consequential damages that result from the use of, or the inability to use, the materials in this site, even if Kelly Space &amp; Technology, Inc. or its representative has been advised of the possibility of such damages. Applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, so the above limitation or exclusion may not apply to you.<br>
    </p>
  </div>
	
{% endblock %}
	