{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blocks.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/testing/ballistic.css' %}">

{% endblock %}



{% block content %}
		<!--=== Breadcrumbs v3 ===-->
		<div class="breadcrumbs-v3 img-v1" style="padding:175px 0;">
			<div class="container text-center">
				<p>Since 1992</p>
				<h1>Our Services</h1>
			</div><!--/end container-->
		</div>
		<!--=== End Breadcrumbs v3 ===-->
	


		<!--=== Cube-Portfdlio ===-->
		<div class="cube-portfolio container margin-bottom-60">
			<div class="content-xs">
				<div id="filters-container" class="cbp-l-filters-text content-xs">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
					<div data-filter=".environmental" class="cbp-filter-item"> Environmental Testing</div> |
					<div data-filter=".jet" class="cbp-filter-item"> Jet &amp; Rocket Testing</div> |
					<div data-filter=".ballistic" class="cbp-filter-item"> Ballistic Testing</div> |
					<div data-filter=".launch" class="cbp-filter-item"> Launch Vehicles </div>
					<div data-filter=".protection" class="cbp-filter-item"> Ballistic Protection</div>
				</div><!--/end Filters Container-->
			</div>

			<div id="grid-container" class="cbp-l-grid-agency">
				<div class="cbp-item launch">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Launch Vehicles</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item ballistic">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title"> Ballistic Testing </div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item jet">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Jet and Rocket Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item protection">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Ballistic Protection System</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Test Environments</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Shock Impact Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
<!-- 										<li><a href="assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
 -->									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Dynamic/Seismic Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Fluids Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Electromagnetic</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Reliability</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Acoustics Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Structural Analysis</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Jet &amp; Rocket Engine</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Explosives Testing</div>
						<div class="cbp-l-grid-agency-desc">Description of Service</div>
					</div>
				</div>
			</div><!--/end Grid Container-->
		</div>
		<!--=== End Cube-Portfdlio ===-->

{% endblock %}
