{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blocks.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/testing/ballistic.css' %}">

{% endblock %}



{% block content %}
		<!--=== Breadcrumbs v3 ===-->
		<div class="breadcrumbs-v3 img-v1">
			<div class="container text-center">
				<!-- <p>Since 1992</p>
				<h1>Our Services</h1> -->
			</div><!--/end container-->
		</div>
		<!--=== End Breadcrumbs v3 ===-->
	


		<!--=== Cube-Portfdlio ===-->
		<div class="cube-portfolio container margin-bottom-60">
			<div class="content-xs">
			</div>
			<div id="grid-container" class="cbp-l-grid-agency" >
				<div class="cbp-item ballistic">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap" >
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="/testing/environment"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title"> Environmental Testing </div>
					</div>
				</div>
				<div class="cbp-item jet">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap" >
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="/testing/jet/"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Jet &amp; Rocket Engine Testing</div>
					</div>
				</div>
				<div class="cbp-item environmental">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap" >
							<img src="{% static 'media/placehold/500x500.png' %}" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="/testing/environment"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title"> Ballistics Testing </div>
					</div>
				</div>
			</div><!--/end Grid Container-->
		</div>
		<!--=== End Cube-Portfdlio ===-->

{% endblock %}
