{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blocks.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/testing/ballistic.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/community/econ.css' %}">

{% endblock %}



{% block content %}
  <!-- Interactive Slider v2 -->
  <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
      <div class="container valign__middle">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<div class="promo-block__item page-scroll animated fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
							<span class="g-display-block g-mb-10">WE ARE KELLY SPACE</span>
							<span class="promo-block__item-text g-mb-20">Community Enrichment</span>
							<p class="promo-block__item-text1 g-mb-20">THROUGH THE INTEGRATION OF A REGIONAL ECONOMIC DEVELOPMENT STRATEGY THAT STIMULATES ECONOMIC DEVELOPMENT BY WORKFROCE DEVELOPMENT AND EDUCATION</p>
							<a href="#services" class="btn-u btn-brd btn-brd-hover btn-u-light">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
  </div>
  <!-- End Interactive Slider v2 -->
	

	

	<!-- Services -->
	<section id="services">
		<div class="container content-md g-text-height-md">

			<div class="row g-mb-60 text-center g-heading-v7">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2">
						<span class="block-name">Leaders in Community Enrichment</span>
						<span class="g-text-height-lg">Our Contributions</span>
					</h2>
				</div>
			</div>

			<div class="row service-box-v1 service-box-v1--business equal-height-columns no-gutter">
          <div class="col-md-4 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <a href='http://technicalemploy.org/'>
                    <i class="icon icon-fire"></i>
                  </a>
                  <h2 class="heading-sm h3">
                    <a href="http://technicalemploy.org/">
                      TECHNICAL EMPLOYMENT TRAINING, INC.
                    </a>
                  </h2>
                  <p>Founded by KST, Technical Employment Training, Inc., was formed to provide access to manufacturing trades education.</p>
                  <ul class="list-unstyled">
                  		<li>Non-Profit Education Cooperative</li>
                      <li>Applicable Skills Training</li>
                      <li>NIMS Certified</li>
                      <li>Tested Curriculum</li>
                      <li>Industry Connections</li>
                      <li>Quality Trades Education</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <a href='http://www.kellyspace.com/documents/KST%20ARDC%20Test%20Operations%20Presentation%2011-19-09.pdf'>
                    <i class="icon icon-energy"></i>
                  </a>
                  <h2 class="heading-sm h3">
                    <a href='http://www.kellyspace.com/documents/KST%20ARDC%20Test%20Operations%20Presentation%2011-19-09.pdf'>
                      ECONOMIC DEVELOPMENT
                    </a>
                  </h2>
                  <p>KST has established the Aerospace Research &amp; Development Center (ARDC) at the San Bernardino International Airport to mature and deploy critical technologies.</p>
                  <ul class="list-unstyled">
                      <li>Advancements in Aviation</li>
                      <li>Patented Space Technologies</li>
                      <li>Cultivating Commercial Applications</li>
                      <li>Furthering Entrepreneurial Research</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <a href='http://www.sbcalliance.org/'>
                    <i class="icon icon-layers"></i>
                  </a>
             			<h2 class="heading-sm h3">
                    <a href='http://www.sbcalliance.org/'>
                      ALLIANCE FOR EDUCATION
                    </a>
                  </h2>
                  <p>KST is a founding member of Alliance for Education, a partnership among leading businesses and entities in the community whose mission is to produce an educated community.</p>
                  <ul class="list-unstyled">
                      <li>Educating our Community</li>
                      <li>Empowering our Youth</li>
                      <li>Forwarding STEM Education</li>
                      <li>Promoting Technological Literacy</li>
                      <li>Motivating Life-Long Learning</li>
                  </ul>
              </div>
          </div>
      </div>
		</div>
	</section>
	<!-- End Services -->

	
{% endblock %}
	