{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/testing/ballistic.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blocks.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">

{% endblock %}


{% block content %}

	<!-- Promo -->
	<section class="g-bg-dark-blue1">
		<div class="fullscreen-static-image promo-block--cover fullheight">
			<div class="container valign__middle">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<div class="promo-block__item page-scroll animated fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
							<span class="g-display-block g-mb-10">WE ARE UNIFY</span>
							<span class="promo-block__item-text g-mb-20">Business &amp; Corporation</span>
							<p class="promo-block__item-text1 g-mb-20">Sed feugiat porttitor nunc, non dignissim <br> ipsum vestibulum in. Donec in blandit dolor.</p>
							<a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- End Promo -->

	<!-- About -->
	<section id="about">
		<div class="row-fluid no-gutter equal-height-columns-v2 overflow-h g-text-height-md">
			<!-- Image Block -->
			<div class="col-md-4 equal-height-column-v2" src="{% static 'media/home/jet.jpg' %}"></div>
			<!-- End Image Block -->

			<!-- About Block -->
			<div class="col-md-4 equal-height-column-v2 text-center g-bg-dark-blue1 g-heading-v7">
				<div class="valign__middle g-padding-30">
					<h2 class="h2 color-light">
						<span class="block-name">About Us</span>
						<span class="g-text-height-lg">Help Make <br> Money</span>
					</h2>
					<p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio. Praesent egestas ac arcu ac convallis. Donec ut diam risus purus.</p>
				</div>
			</div>
			<!-- End About Block -->

			<!-- Carousel Block -->
			<div class="col-md-4 g-bg-dark-blue2 equal-height-column-v2">
				<ul class="owl2-carousel-v1 owl2-carousel-v1-dots list-unstyled g-pb-20">
				  <li class="item g-mb-20">
				  	<img class="img-responsive g-mb-30" src="{% static 'media/home/jet.jpg' %}" alt="">
				  	<div class="g-pl-30 g-pr-30">
							<h3 class="color-light">
								<strong>SINCE 2008</strong>
							</h3>
							<p>Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
							<p>Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
						</div>
				  </li>
				  <li class="item g-mb-20">
				  	<img class="img-responsive g-mb-40" src="{% static 'media/home/jet.jpg' %}" alt="">
				  	<div class="g-pl-50 g-pr-50">
							<h3 class="color-light">
								<strong>PAST 2012</strong>
							</h3>
							<p>Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
							<p>Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
						</div>
					</li>
				  <li class="item g-mb-20">
				  	<img class="img-responsive g-mb-40" src="{% static 'media/home/jet.jpg' %}" alt="">
				  	<div class="g-pl-50 g-pr-50">
							<h3 class="color-light">
								<strong>PRESENT 2016</strong>
							</h3>
							<p>Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
							<p>Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
						</div>
				  </li>
				</ul>
			</div>
			<!-- End Carousel Block -->
		</div>
	</section>
	<!-- End About -->

	<!-- Services -->
	<section id="services">
		<div class="container content-md g-text-height-md">

			<div class="row g-mb-60 text-center g-heading-v7">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2">
						<span class="block-name">Our Services</span>
						<span class="g-text-height-lg">What We Do</span>
					</h2>
				</div>
			</div>

			<div class="row service-box-v1 service-box-v1--business equal-height-columns no-gutter">
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-fire"></i>
                  <h2 class="heading-sm h3">ANALISYS</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Responsive Web Desgin</li>
                      <li>E-commerce</li>
                      <li>App &amp; Icon Design</li>
                      <li>Logo &amp; Brand Design</li>
                      <li>Mobile Development</li>
                      <li>UI/UX Design</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-energy"></i>
                  <h2 class="heading-sm h3">STRATEGY</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                  <ul class="list-unstyled">
                      <li>Analysis &amp; Consulting</li>
                      <li>Email Marketing</li>
                      <li>App &amp; Icon Design</li>
                      <li>Responsive Web Desgin</li>
                      <li>Social Networking</li>
                      <li>Documentation</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-layers"></i>
                  <h2 class="heading-sm h3">SOCIAL MEDIA</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Display Advertising</li>
                      <li>App &amp; Icon Design</li>
                      <li>Analysis &amp; Consulting</li>
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Google/Bing Analysis</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-social-youtube"></i>
                  <h2 class="heading-sm h3">MARKETING</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Google/Bing Analysis</li>
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Analysis &amp; Consulting</li>
                  </ul>
              </div>
          </div>
      </div>
		</div>
	</section>
	<!-- End Services -->

	
{% endblock %}

{% block js_dependencies %}
	
<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'js/Responsive_Features/smoothScroll.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/pace.min.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/jquery.parallax.js' %}"></script>
	<script src="{% static 'js/Responsive_Features/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/Responsive_Features/jquery.backstretch.min.js' %}"></script>
	<script src="{% static 'js/Responsive_Features/wow-ini-themes.js' %}"></script>

  <!-- JS Page Level-->
  <script src="{% static 'js/Responsive_Features/one.app.js' %}"></script>
	<script src="{% static 'js/Responsive_Features/promo.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/pace-loader.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/owl2-carousel-v1.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/owl2-carousel-v2.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/owl2-carousel-v3.js' %}"></script>
  <script src="{% static 'js/Responsive_Features/owl2-carousel-v4.js' %}"></script>

  <script type="text/javascript">
	jQuery(document).ready(function() {
		App.init();
		Owl2Carouselv1.initOwl2Carouselv1();
		Owl2Carouselv2.initOwl2Carouselv2();
		Owl2Carouselv3.initOwl2Carouselv3();
		Owl2Carouselv4.initOwl2Carouselv4();
	});
  </script>
{% endblock %}
