{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/business.style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/app.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/blocks.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/_Global/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/header.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/_Global/custom/testing/ballistic.css' %}">

{% endblock %}



{% block content %}
  <!-- Interactive Slider v2 -->
  <div class="interactive-slider-v2 interactive-slider-v2-md img-v3">
      <div class="container valign__middle">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<div class="promo-block__item page-scroll animated fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
							<span class="g-display-block g-mb-10">WE ARE KELLY SPACE</span>
							<span class="promo-block__item-text g-mb-20">Community Enrichment</span>
							<p class="promo-block__item-text1 g-mb-20">THROUGH THE INTEGRATION OF A REGIONAL ECONOMIC DEVELOPMENT STRATEGY THAT STIMULATES ECONOMIC DEVELOPMENT BY WORKFROCE DEVELOPMENT AND EDUCATION</p>
							<a href="#services" class="btn-u btn-brd btn-brd-hover btn-u-light">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
  </div>
  <!-- End Interactive Slider v2 -->
	

	

	<!-- Services -->
	<section id="services">
		<div class="container content-md g-text-height-md">

			<div class="row g-mb-60 text-center g-heading-v7">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2">
						<span class="block-name">Leaders in Community Enrichment</span>
						<span class="g-text-height-lg">Our Contributions</span>
					</h2>
				</div>
			</div>

			<div class="row service-box-v1 service-box-v1--business equal-height-columns no-gutter">
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-fire"></i>
                  <h2 class="heading-sm h3">ANALISYS</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Responsive Web Desgin</li>
                      <li>E-commerce</li>
                      <li>App &amp; Icon Design</li>
                      <li>Logo &amp; Brand Design</li>
                      <li>Mobile Development</li>
                      <li>UI/UX Design</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-energy"></i>
                  <h2 class="heading-sm h3">STRATEGY</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                  <ul class="list-unstyled">
                      <li>Analysis &amp; Consulting</li>
                      <li>Email Marketing</li>
                      <li>App &amp; Icon Design</li>
                      <li>Responsive Web Desgin</li>
                      <li>Social Networking</li>
                      <li>Documentation</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-layers"></i>
                  <h2 class="heading-sm h3">SOCIAL MEDIA</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Display Advertising</li>
                      <li>App &amp; Icon Design</li>
                      <li>Analysis &amp; Consulting</li>
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Google/Bing Analysis</li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="service-block service-block-default equal-height-column no-margin-bottom">
                  <i class="icon icon-social-youtube"></i>
                  <h2 class="heading-sm h3">MARKETING</h2>
                  <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                  <ul class="list-unstyled">
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Google/Bing Analysis</li>
                      <li>Google AdSense</li>
                      <li>Social Media</li>
                      <li>Analysis &amp; Consulting</li>
                  </ul>
              </div>
          </div>
      </div>
		</div>
	</section>
	<!-- End Services -->

	
{% endblock %}
	