{% include "about/base.html" %}
{% load staticfiles %}


{% block header %}

	<link href="{% static 'bootstrap/css/_Home/cover.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/_Home/override_Index.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    
                        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="" content="">
    <meta name="L. Thai" content="">
  

{% endblock %}


{% block content %}

   

{% endblock %}
